body {
    font-family: Arial, sans-serif;
}

.bg-primary {
    background-color: #001f3f !important; /* Navy Blue */
}

.text-primary {
    color: #001f3f !important;
}

.btn-light {
    color: #001f3f;
    border-color: #ffffff;
}

.discord-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #5865F2;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.discord-button:hover {
    background-color: #4752C4;
}

.discord-logo {
    width: 20px;
    height: 20px;
    filter: invert(1);
}


